swagger: '2.0'
info:
  version: 1.0.0
  title: SlideListApi
  description: |
    slide list on kaotil.com
    
    #### staging API URL
    ```
      https://api.kaotil.com/stg/
    ```
    #### production API URL
    ```
      https://api.kaotil.com/v1/
    ```
    
    ### JSON body sample
    #### /slide POST
    ```json
    {
        "item": {
            "env": "stg",
            "num": 1,
            "date": "2016/01/01",
            "title": "test",
            "description": "test"
        }
    }
    ```
    #### /slide PUT
    ```json
    {
        "key": {
            "env": "stg",
            "num": 1
        },
        "item": {
            "date": "2016/01/01",
            "title": "test",
            "description": "test"
        }
    }
    ```
    #### /slide DELETE
    ```json
    {
        "key": {
            "env": "stg",
            "num": 1
        }
    }
    ```

schemes:
  - https
host: api.kaotil.com
basePath: /v1
paths:
  /slide:
    get:
      responses:
        '200':
          description: Echo GET
    post:
      produces:
        - application/json
      parameters:
        - name: slide_list
          in: body
          description: The slide_list JSON you want to post
          schema:
            $ref: '#/definitions/slide_list'
          required: true
      responses:
        '200':
          description: Echo POST
    put:
      produces:
        - application/json
      responses:
        '200':
          description: Echo PUT
    delete:
      produces:
        - application/json
      responses:
        '200':
          description: Echo DELETE
  '/slide/{num}':
    parameters:
      - name: num
        in: path
        description: num
        type: string
        required: true
    get:
      responses:
        '200':
          description: Echo slide num
definitions:
  slide_list:
    type: object
    properties:
      env:
        type: string
      num:
        type: integer
      date:
        type: string
      title:
        type: string
      description:
        type: string

