{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "SlideListApi",
        "description": "slide list on kaotil.com\n\n#### staging API URL\n```\n  https://api.kaotil.com/stg/\n```\n#### production API URL\n```\n  https://api.kaotil.com/v1/\n```\n\n### JSON body sample\n#### /slide POST\n```json\n{\n    \"item\": {\n        \"env\": \"stg\",\n        \"num\": 1,\n        \"date\": \"2016/01/01\",\n        \"title\": \"test\",\n        \"description\": \"test\"\n    }\n}\n```\n#### /slide PUT\n```json\n{\n    \"key\": {\n        \"env\": \"stg\",\n        \"num\": 1\n    },\n    \"item\": {\n        \"date\": \"2016/01/01\",\n        \"title\": \"test\",\n        \"description\": \"test\"\n    }\n}\n```\n#### /slide DELETE\n```json\n{\n    \"key\": {\n        \"env\": \"stg\",\n        \"num\": 1\n    }\n}\n```\n"
    },
    "schemes": [
        "https"
    ],
    "host": "api.kaotil.com",
    "basePath": "/v1",
    "paths": {
        "/slide": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Echo GET"
                    }
                }
            },
            "post": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "slide_list",
                        "in": "body",
                        "description": "The slide_list JSON you want to post",
                        "schema": {
                            "$ref": "#/definitions/slide_list"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Echo POST"
                    }
                }
            },
            "put": {
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Echo PUT"
                    }
                }
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Echo DELETE"
                    }
                }
            }
        },
        "/slide/{num}": {
            "parameters": [
                {
                    "name": "num",
                    "in": "path",
                    "description": "num",
                    "type": "string",
                    "required": true
                }
            ],
            "get": {
                "responses": {
                    "200": {
                        "description": "Echo slide num"
                    }
                }
            }
        }
    },
    "definitions": {
        "slide_list": {
            "type": "object",
            "properties": {
                "env": {
                    "type": "string"
                },
                "num": {
                    "type": "integer"
                },
                "date": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            }
        }
    }
}
